<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      header {
        text-align: center;
        margin-top: 30px;
      }
      main {
        text-align: center;
        margin-top: 30px;
        padding: 10px;
      }
      a {
        text-decoration: none;
        color: black;
        padding: 10px;
        border: 1.5px solid black;
        border-radius: 5px;
        background-color: lightgray;
        font-size: large;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Welcome to airbnb App!</h1>
    </header>
    <main>
      <a href="/host/add-home">Add Home</a>
    </main>
  </body>
</html>
